@import url(../../index.css);

.container{
    height: 3em;
    width: 3em;
    position: fixed;
    bottom: 10px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}
.icon{
    width: 80%;
    height: 80%;
}
.disable{
    display: none;
}

.dark{
    color: var(--color-backbroundLight);
}
.light{
    color: var(--card-backgroundDark);
}