@import url(../../index.css);
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    transition: 2s;
}
.dark{
    background-color: var(--color-backgroundDark);
    color: var(--text-dark);
}
.light{
    background-color: var(--color-backbroundLight);
    color: var(--text-light);
}
.containerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.title{
    margin: 0;
    width: 40%;
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 4.5em;
}
.subtitle{
    font-family: var(--font-title);
    font-weight: 400;
    text-align: end;
    font-size: 1.2em;
    width: 40%;
    margin: 0;
}
.description{
    font-family: var(--font-text);
    width: 70%;
}
.containerImage{
    width: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    visibility: hidden;
    transition: 2s;
}
.image{
    min-width: 370px;
    max-height: 500px;
    border-radius: .5em;
    transition: 2s;
    position: relative;
}
.button{
    outline: 0;
    width: 10em;
    font-family: var(--font-text);
    text-align: center;
    border: 0;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    padding: .5em;
    transition: 2s;
}
.buttonlight{
    background-color: var(--icon-light);
    color: var(--text-dark);
}
.buttondark{
    background-color: var(--icon-dark);
    color: var(--text-light);
}
.animation{
    visibility: visible;
    animation: entrada 5s;
}

@keyframes entrada{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media only screen and (max-width: 719px) and (min-width: 360px)  {
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 1em;
    }
    .containerInfo{
        width: 90%;
        order: 2;
    }
    .title{
        font-size: 4em;
        width: 90%;
    }
    .subtitle{
        font-size: 2em;
        width: 90%;

    }
    .containerImage{
        order: 1;
        width: 80%;
        margin-top: 6em;
    }
    .description{
        width: 90%;
    }
    .button{
        width: 60%;
    }
}
@media only screen and (max-width: 1280px) and (min-width: 720px)  {
    .container{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 1em;
    }
    .containerInfo{
        width: 90%;
        order: 2;
    }
    .title{
        font-size: 4em;
        width: 90%;
    }
    .subtitle{
        font-size: 2em;
        width: 90%;

    }
    .containerImage{
        order: 1;
        width: 80%;
        margin-top: 6em;
    }
    .description{
        width: 90%;
    }
    .button{
        width: 60%;
    }
}