@import url(../../index.css);

.container{
    position: fixed;
    display: flex;
    z-index: 1;
    transition: 2s;
}
.title{
    display: inline;
    width: 15vw;
    font-size: 2em;
    font-family: var(--font-text);
    cursor: pointer;
    padding-left: 1em;
    text-decoration: none;
    transition: 2s;
}
.titledark{
    color: var(--text-dark);
}
.titlelight{
    color: var(--text-light);
}
.guion{
    color: rgb(197, 136, 255);
}
.list{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
}
.listItem{
    list-style: none;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-text);
}
.link{
    text-decoration: none;
    transition: 2s;
}
.linkdark{
    color: var(--text-dark);
    transition: .4s;
}
.linklight{
    color: var(--text-light);
    transition: .4s;
}
.linkdark:hover{
    color: skyblue;
}
.linklight:hover{
    color: yellow;
}
.button{
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}
.buttonOpenCloseR{
    display: none;
}

@media only screen and (max-width: 719px) and (min-width: 360px)  {
    .buttonOpenCloseR{
        margin-left: .4em;
        margin-top: .4em;
        display: inline;
        font-size: 2em;
        border-radius: 50%;
        cursor: pointer;
    }
    .container{
        gap: 1em;
        width: 100%;
        position: fixed;
        align-items: center;
    }
    .list{
        width: 100%;
        gap: 1em;
        height: 100vh;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: -150vh;
        transition: 1s;
        z-index: -1;
        padding: 0;
    }
    .listView{
        top: 0;
    }
    .listdark{
        background-color: rgba(0, 0, 0,.9);
    }
    .listlight{
        background-color: rgba(255, 255, 255,.9);
    }
    .buttondark{
        color: white;
    }
    .buttonlight{
        color: black;
    }
    .title{
        font-size: 2em;
        width: 80vw;
        padding: 0;
        margin-top: .4em;
    }
    .listItem{
        font-size: 2em;

    }
}
@media only screen and (max-width: 1280px) and (min-width: 720px)  {
    .buttonOpenCloseR{
        margin-left: .4em;
        margin-top: .4em;
        display: inline;
        font-size: 2em;
        border-radius: 50%;
        cursor: pointer;
    }
    .container{
        gap: 1em;
        width: 100%;
        position: fixed;
        align-items: center;
    }
    .list{
        width: 100%;
        gap: 1em;
        height: 100vh;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: -150vh;
        transition: 1s;
        z-index: -1;
        padding: 0;
    }
    .listView{
        top: 0;
    }
    .listdark{
        background-color: rgba(0, 0, 0,.9);
    }
    .listlight{
        background-color: rgba(255, 255, 255,.9);
    }
    .buttondark{
        color: white;
    }
    .buttonlight{
        color: black;
    }
    .title{
        font-size: 2em;
        width: 80vw;
        padding: 0;
        margin-top: .4em;
    }
    .listItem{
        font-size: 2em;

    }
}