@import url(../../index.css);

.container{
    position: fixed;
    display: flex;
    z-index: 1;
    transition: 2s;
}
.title{
    
    display: inline;
    width: 15vw;
    font-size: 2em;
    font-family: var(--font-text);
    cursor: pointer;
    padding-left: 1em;
    text-decoration: none;
    transition: 2s;
}
.titledark{
    color: var(--text-dark);
}
.titlelight{
    color: var(--text-light);
}
.guion{
    color: rgb(197, 136, 255);
}
.list{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
}
.listItem{
    list-style: none;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-text);
}
.link{
    text-decoration: none;
    transition: 2s;
}
.linkdark{
    color: var(--text-dark);
    transition: .4s;
}
.linklight{
    color: var(--text-light);
    transition: .4s;
}
.linkdark:hover{
    color: skyblue;
}
.linklight:hover{
    color: yellow;
}
.button{
    background-color: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}