@import url(../../index.css);

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dark{
    background-color: var(--color-backgroundDark);
    color: var(--text-dark);
}
.light{
    background-color: var(--color-backgroundLight);
    color: var(--text-light);
}
.containerButton{
    position: fixed;
    top: 0;
    width: 100%;
}
.closeButton{
    width: 1em;
    height: 1em;
    margin: .3em;
    border: 0;
    text-decoration: none;
    background-color: var(--card-background);
    font-family: var(--font-text);
    font-size: 3em;
    cursor: pointer;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.closelight{
    color: var(--icon-light);
}
.closedark{
    color: var(--icon-dark);
}
.closeButton:hover{
    background-color: var(--border-gris);
    color: white;
}
.containerOff{
    display: none;
}
.info{
    width: 90%;
    height: 95vh;
    background-color: var(--color-background);
    border-radius: .5%;
    padding: 1%;
    overflow: auto;
}
.title{
    margin: 0;
    font-family: var( --font-title);
    font-weight: 400;
    font-size: 5em;
}
.containerDescription{
    display: flex;
}
.description{
    font-family: var(--font-text);
    width: 40%;
}
.table{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
}
.subtitle{
    font-family: var( --font-title);
    font-size: 1.2em;
    font-weight: 400;
}
.subtitledark{
    border-top: 1px solid var(--text-dark);
}
.subtitlelight{
    border-top: 1px solid var(--text-light);
}
.tech{
    font-family: var(--font-text);
}
.image{
    width: 90%;
}
.containerImages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.containerLinks{
    display: flex;
    justify-content: flex-end;
    height: 3em;
    padding-right: 3em;
}
.icon{
    width: 3em;
    font-size: 2em;
    transition: .5s;
}
.icondark{
    color: var(--icon-dark);
}
.iconlight{
    color: var(--icon-light);
}
.icon:hover{
    transform: scale(150%);
}
.footer{
    font-family: var(--font-text);
    padding-left: 1em;
}
@media only screen and (max-width: 719px) and (min-width: 320px)  {
    .title{
        font-size: 3em;
    }
    .subtitle{
        font-size: 1.2em;
    }
    .table{
        flex-direction: column;
    }
}
@media only screen and (max-width: 1280px) and (min-width: 720px)  {
    .title{
        font-size: 4em;
    }
    .subtitle{
        font-size: 2em;
    }
    .table{
        flex-direction: column;
    }
}