@import url(../../index.css);

.container{
    width: 100%;
    height: 100vh;
    transition: 2s;
    display: flex;
    justify-content: center;
}
.dark{
    background-color: var(--color-backgroundDark);
    color: var(--text-dark);
}
.light{
    background-color: var(--color-backbroundLight);
    color: var(--text-light);
}
.title{
    font-family: var(--font-title);
    font-weight: 400;
    font-size: var(--size-title);
}
.description{
    font-family: var(--font-text);
    font-size: 1em;
}
.email{
    font-family: var(--font-text);
    font-size: 1.3em;
}
.containerInfo{
    padding-left: 4em;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

}
.icon{
    width: 3em;
}
.containerForm{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.containerInput{
    display: flex;
    gap: 1em;
}
.input{
    background-color: transparent;
    outline: 0;
    border: none;
    padding: 1em;
    font-size: 1em;
    font-family: var(--font-text);
    transition: 2s;
    resize: none;
}
.input:focus{
    border-width: .2em;
    transition: .2s;
}
.inputdark{
    border-bottom: .1em solid var(--text-dark);
    color: var(--text-dark);
}
.inputlight{
    border-bottom: .1em solid var(--text-light);
    color: var(--text-light);
}
.button{
    outline: 0;
    border: none;
    padding: 1em;
    cursor: pointer;
    transition: 2s;
}
.buttondark{
    background-color: var(--icon-dark);
    color: var(--text-light);
}
.buttonlight{
    background-color: var(--icon-light);
    color: var(--text-dark);
}