@import url(../../index.css);

.container{
    width: 100%;
    height: 100vh;
    transition: 2s;
    display: flex;
    justify-content: center;
}
.dark{
    background-color: var(--color-backgroundDark);
    color: var(--text-dark);
}
.light{
    background-color: var(--color-backbroundLight);
    color: var(--text-light);
}
.title{
    font-family: var(--font-title);
    font-weight: 400;
    font-size: var(--size-title);
}
.description{
    font-family: var(--font-text);
    font-size: 1em;
}
.email{
    width: 120%;
    font-family: var(--font-text);
    font-size: 1.3em;
    transition: 2s;
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
.error{
    background-color: rgb(134, 2, 2);
    color: white;
    font-family: var(--font-text);
    font-size: .8em;
    padding-left: 1em;
    padding-right: 1em;
}
.emaildark{
    color: var(--icon-dark);
}
.emaillight{
    color: var(--icon-light);
}
.containerInfo{
    padding-left: 6em;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}
.icon{
    width: 3em;
    cursor: pointer;
}
.containerForm{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.containerInput{
    display: flex;
    gap: 2em;
    width: 90%;
    justify-content: center;
}
.input{
    width: 45%;
    background-color: transparent;
    outline: 0;
    border: none;
    padding: 1em;
    font-size: 1em;
    font-family: var(--font-text);
    transition: 2s;
    resize: none;
}
.textarea{
    width: 90%;
    max-width: 1600px;
    background-color: transparent;
    outline: 0;
    border: none;
    padding: 1em;
    font-size: 1em;
    font-family: var(--font-text);
    transition: 2s;
    resize: none;
}
.textarea:focus{
    border-width: .2em;
    transition: .2s;
}
.input:focus{
    border-width: .2em;
    transition: .2s;
}
.inputdark{
    border-bottom: .1em solid var(--text-dark);
    color: var(--text-dark);
}
.inputlight{
    border-bottom: .1em solid var(--text-light);
    color: var(--text-light);
}
.button{
    outline: 0;
    border: none;
    padding: 1em;
    cursor: pointer;
    transition: 2s;
}
.buttondark{
    background-color: var(--icon-dark);
    color: var(--text-light);
}
.buttonlight{
    background-color: var(--icon-light);
    color: var(--text-dark);
}
.buttonSend{
    background-color: transparent;
    border: 0;
    outline: 0;
    transition: 1s;
}
.buttonSend:disabled{
    filter: grayscale(1);
    cursor: default;
}
@media only screen and (max-width: 719px) and (min-width: 360px)  {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 1em;
    }
    .input{
        width: 100%;
    }
    .title{
        width: 100%;
        font-size: 2.5em;
    }
    .containerInput{
        width: 90%;
        flex-direction: column;
    }
    .containerInfo{
        width: 90%;
        order: 1;
        padding-left: 0;
    }
    .containerForm{
        width: 90%;
        order: 2;
        margin-bottom: 6em;
    }
    .containerIcons{
        width: 90%;
        order: 3;
        display: flex;
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 1280px) and (min-width: 720px)  {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 1em;
    }
    .input{
        width: 70%;
    }
    .containerInput{
        width: 90%;
        flex-direction: column;
    }
    .containerInfo{
        width: 90%;
        order: 1;
        padding-left: 0;
    }
    .containerForm{
        width: 90%;
        order: 2;
        margin-bottom: 6em;
    }
    .containerIcons{
        width: 90%;
        order: 3;
        display: flex;
        justify-content: space-evenly;
    }
}