@import url(../../index.css);

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    transition: 2s;
}
.dark{
    background-color: var(--color-backgroundDark);
    color: var(--text-dark);
}
.light{
   background-color: var(--color-backbroundLight);
   color:var(--text-light) ;
}
.cardContainer{
    display: flex;
    justify-content: center;
}
.titlePrincipal{
    display: inline;
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 4em;
}
.titleStack{
    color: var(--text-gris);
}
.title{
    display: inline-block;
    font-family: var(--font-title);
    font-weight: 400;
    font-size: 1.5em;
}
.card{
    width: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 3%;
    outline: .2em solid var(--border-gris);
}
.icon{
    width: 25%;
    font-size: 2.5em;
    transition: 2s;
}
.icondark{
    color: var(--icon-dark);
}
.iconlight{
    color:  var(--icon-light);
}
.description{
    font-family: var(--font-text);
    font-size: 1.2em;
}