@import url(../../index.css);

.container{
    position: relative;
    display: flex;
    justify-content: center;
}
.info{
    position: absolute;
    border: 1px solid var(--border-gris);
    font-family: var(--font-text);
    font-size: .7em;
    padding: .2em;
    top: -2em;
    z-index: 1;
    opacity: 0;
    transition: .5s;
}
.dark{
    background-color: var(--card-backgroundDark);
}
.light{
    background-color: var(--color-backbroundLight);
}
.container:hover > .info{
    opacity: 1;
    transition: .5s;
    transition-delay: .5s;
}