@import url(../../index.css);

.container{
    width: 5em;
    position: relative;
    display: flex;
    justify-content: center;
    transition: 2s;
}
.info{
    position: absolute;
    border: 1px solid var(--border-gris);
    font-family: var(--font-text);
    padding: .2em;
    top: -1.5em;
    z-index: 1;
    visibility: hidden;
}
.dark{
    background-color: var(--card-backgroundDark);
}
.light{
    background-color: var(--color-backbroundLight);
}
.container:hover > .info{
    visibility: visible;
    transition: 2s;
}