@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Sono:wght@200;400&display=swap');

*{
    box-sizing: border-box;
/*     border: 1px solid red; */
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
#root{
    overflow-x: hidden;
}
:root{
    --color-backgroundDark:rgb(36, 36, 36);
    --color-backbroundLight: rgb(255, 255, 255);
    --card-backgroundDark:rgb(63, 63, 63);
    --card-backgroundLight:rgb(209, 209, 209);
    --font-title: 'Secular One', sans-serif;
    --font-text: 'Sono', sans-serif;
    --size-title: 4em;
    --border-gris: rgb(141, 141, 141);
    --text-dark: white;
    --text-light: rgb(34, 34, 34);
    --text-gris:rgb(105, 105, 105);
    --icon-dark: rgb(255, 255, 0);
    --icon-light: rgb(57, 67, 212);
}
*::-webkit-scrollbar-thumb{
    background: var(--border-gris);
    border-radius: 5px;
}
*::-webkit-scrollbar{
    width: .5em;
}