@import url(../../index.css);

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 2s;
}
.ligth{
    background-color: var(--color-backgroundLigth);
}
.dark{
    background-color: var(--color-backgroundDark);
}
.title{
    display: inline-block;
    font-family: var(--font-title);
    font-weight: 400;
    font-size: var(--size-title);
    transition: 2s;
}
.titledark{
    color: var(--text-dark);

}
.titlelight{
    color: var(--text-light);
}
.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    visibility: hidden;
}
.animation{
    animation: entrada 2s;
    visibility: visible;
}

@keyframes entrada{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media only screen and (max-width: 719px) and (min-width: 360px)  {
    .container{
        height: auto;
        min-height: auto;
    }
    .works{
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    .title{
        font-size: 2.5em;
    }
}
@media only screen and (max-width: 1280px) and (min-width: 720px)  {
    .container{
        height: auto;
        min-height: auto;
    }
    .works{
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
}