@import url(../../index.css);

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 2s;
}
.ligth{
    background-color: var(--color-backgroundLigth);
}
.dark{
    background-color: var(--color-backgroundDark);
}
.title{
    display: inline-block;
    font-family: var(--font-title);
    font-weight: 400;
    font-size: var(--size-title);
    transition: 2s;
}
.titledark{
    color: var(--text-dark);

}
.titlelight{
    color: var(--text-light);
}
.works{
    display: flex;
    justify-content: space-around;
    opacity: 0;
}
.animation{
    animation: entrada 2s;
    opacity: 1;
}

@keyframes entrada{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}